// Document list page will use the single template
// TODO: Add the list template in the future

// Single document page
.document-page {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: var(--space-md) var(--space-xl);

  @include media-breakpoint-down(md) {
    margin: 0;
  }

  // Override content
  .content-container {
    width: 65%;
    padding: 0 var(--space-xl);

    // Full with on mobile
    @include media-breakpoint-down(md) {
      padding: 0;
      width: 100%;
    }
  }

  // Override .toc
  .toc {
    width: 15%;
  }
}

// Left side menu
.document-menu {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 20%;
  height: 100vh;

  padding: var(--space-md);
  line-height: var(--space-xl);
  border-right: 1px solid var(--md-sys-color-surface-variant);

  overflow: auto;

  @extend .body-medium;

  // Hide menu on mobile
  @include media-breakpoint-down(sm) {
    display: none;
    width: unset;
  }

  a {
    color: var(--md-sys-color-on-background);
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 8px;
  }

  li {
    list-style: none;
  }

  // Cutomize the default `details`
  details {
    summary {
      list-style: none;
    }

    // summary > * {
    //   display: inline;
    // }

    summary::before {
      display: none;
    }

    // summary::after {
    //   content: '▶';
    //   position: absolute;
    //   right: 0;
    //   color: var(--md-sys-color-outline);
    // }

    // Hide marker on webkit
    summary::-webkit-details-marker {
      display: none;
    }
  }

  // details[open] {
  //   summary::after {
  //     content: '▼';
  //   }
  // }

  .category {
    p {
      margin-block-end: 0;
      color: var(--md-sys-color-outline);
      // text-transform: uppercase;
    }

    .item {
      display: block;
    }
  }

  .active {
    color: var(--md-sys-color-primary) !important;
  }
}
