footer {
  z-index: 1;
  box-sizing: border-box;
  position: relative; // to active z-index, front of document menu
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xl);
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-background);
  font-size: var(--md-sys-typescale-body-small-font-size);

  @media print {
    display: none;
  }

  a {
    font-weight: bold;
    color: var(--md-sys-color-background);
  }
}
