// Theme
:root {
  @each $k, $v in $theme-extended-color {
    --#{$k}: #{$v};
  }

  // @each $k, $v in $theme-typo {
  //   --#{$k}: #{$v};
  // }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.spanborder {
  border-bottom: 1px solid var(--md-sys-color-surface);
  margin-bottom: $space2;

  span {
    display: inline-block;
    border-bottom: 1px solid var(--primary);
    margin-bottom: -1px;
    padding-bottom: $space;
  }
}

// For /document/theme
.theme-showcase {
  display: flex;

  div {
    padding: $space;
    margin-bottom: $space / 2;
    width: 128px;
  }
}
