//
// Reset/normalize
//

html,
body {
  margin: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  font-size: var(--body-m);
  color: var(--on-background);
  background-color: var(--background);
  margin: 0;
}

ul,
li {
  list-style: none;
}

hr {
  border-top: 1px;
  border-color: var(--surface);
  margin-block: $space;
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
}

blockquote {
  margin-inline-start: 0;
  margin-inline-end: 0;

  border-color: var(--primary) !important;
  border-left: 4px solid;
  border-radius: 3px;
  padding-top: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 4px;
  background: var(--surface);
}

table {
  --bs-table-bg: transparent;
  --bs-table-striped-color: var(--primary);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);

  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: $space;
  font-size: var(--body-s);
}

table > thead {
  border-bottom-width: 1px;
  border-bottom-color: currentColor;
}

table > :not(caption) > * > * {
  padding: 8px 8px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

table > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  text-align: left;
}

code {
  font-size: var(--body-s);
}
