//
// Reset/normalize
//

html,
body {
  margin: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
}

// ul,
// li {
//   list-style: none;
//   padding-inline-start: 0;
//   margin-block-start: 0;
//   margin-block-end: 0;
// }

hr {
  border: 0.5px solid $divider-color;
  margin-block: 16px;
}

a {
  color: $primary-color-light;
  text-decoration: none;

  // &:hover {
  //   text-decoration: none;
  // }
}

// Code block
p > code {
  padding: 4px;
  background: $surface-color;
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, Courier, monospace;
  font-size: 0.85rem;
}

pre {
  background: $primary-color !important;
  padding: 16px;
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, Courier, monospace !important;
  font-size: 16px;
  overflow: auto;
}

blockquote {
  margin-inline-start: 0;
  margin-inline-end: 0;

  border-color: $primary-color-light !important;
  border-left: 4px solid;
  border-radius: 3px;
  padding-top: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 4px;
  background: $surface-color;
}

table {
  --bs-table-bg: transparent;
  --bs-table-striped-color: $primary-color;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);

  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 16px;
  font-size: $font-size-sm;
}

table > thead {
  border-bottom-width: 1px;
  border-bottom-color: currentColor;
}

table > :not(caption) > * > * {
  padding: 8px 8px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

table > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  text-align: left;
}
