node_modules

resources
public

*.lock
*.log

###########################################################
# gkgen
###########################################################

.chart/
base/
dist/

# Make env from yaml
.make.env

# Registry username & password
.makerc

# Helm package
*.tgz
