{{/* https://github.com/gbmhunter/blog/blob/master/layouts/partials/menu.html */}}

{{ $currentPage := . }}


<div id="navMenu" class="document-menu">
  {{ partial "shared/search-input" }}

  {{ with .Site.GetPage "/document" }}
    {{ range .Sections.ByWeight }}
      <div class="category">
        <p>{{ .Title }}</p>

        <!-- Using partialCached here offers significant build time speedup, as this recursive menu would otherwise be rebuilt for
        every page! -->
        {{ partial "document/menu_recursive" (dict "context" . "currentPage" $currentPage) }}
      </div>
    {{ end }}
  {{ end }}
</div>
