// Color system

$background-color: #ffffff;
$surface-color: #f5f7f9;

$primary-color: #1d3055;
$primary-color-dark: #252a31;
$primary-color-light: #6896ee;

$divider-color: #e6ecf1;

$success-color: green;
$error-color: red;

// Typography
$text-color: #242a31;
$text-color-light: #74818d;
$text-color-muted: #9daab6;

$font-size: 16px;
$font-weight: 400;
$line-height: 1.5;
$font-family: 'Roboto', sans-serif;

$font-size-sm: 0.875rem;
$font-size-sx: 0.75rem;
$font-size-lg: 1.25rem;

// Space
$space: 16px;

// Breakpoints
$width-sm: 576px; // small devices (phones)
$width-md: 768px; // medium devices, portrail tables & large phones
$width-lg: 992px; // large, laptops/ desktops
$width-xl: 1200px; // extra large, laptops / desktops
$width-xxl: 1400px; // extra large

// Nav + TOC
$nav-height: 64px;
$toc-width: 196px;
$footer-height: 64px;

// Document
$document-menu-width: 196px;

// Blog
$blog-jumbotron-height: 192px;
$blog-menu-width: 25%;

// Resume
$resume-left-width: 70%;

// Icons
$colappsed-icon: url('data:image/svg+xml, <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="icon-7f6730be--text-3f89f380"><g><polyline points="9 18 15 12 9 6"></polyline></g></svg>');
