<!--
Displays authors of a single page
Params: Single page
-->

<!-- All contributor pages -->
{{ $contributors := where $.Site.RegularPages "Section" "contributor" }}


<!-- Author pages / createdBy -->
{{ $createdBy := index (where $contributors "Params.user.username" .Params.createdBy) 0 }}
{{ $updatedBy := index (where $contributors "Params.user.username" .Params.updatedBy) 0 }}

{{ if not $updatedBy }}
  {{ $updatedBy = $createdBy }}
{{ end }}


<div class="author">
  <a href="{{ $updatedBy.RelPermalink }}">
    <img src="{{ $updatedBy.Params.avatar.url }}" />
    {{ $updatedBy.Params.user.firstname }}
  </a>
  <span class="dot">∙</span>
  {{ partial "shared/timeago" (default .Params.updatedAt .Params.createdAt) }}
</div>
