<div class="content">
  {{ if .Site.Params.options.breadcrumb }}
    {{ partial "shared/breadcrumb" . }}
    <hr />
  {{ end }}


  <article>
    <section>
      {{ partial "shared/author" . }}
      <h1>{{ .Title }}</h1>
      <hr />
    </section>

    <section>
      {{ .Content }}

      {{/* Dynamic zone */}}
      {{ range .Params.components }}
        {{ if eq .__component "site.block" }}
          {{ safeHTML .html }}
        {{ end }}
      {{ end }}
    </section>
  </article>

  {{/* {{ partial "shared/toc" . }} */}}
</div>
