<div class="content">
  <article>
    <section>
      <h1>{{ .Title }}</h1>
      {{ partial "shared/meta" . }}

      {{ if .Description }}
        <p class="description">{{ markdownify .Description }}</p>
      {{ end }}
      <hr />
    </section>

    <section>
      {{ .Content }}

      {{/* Dynamic zone */}}
      {{ range .Params.components }}
        {{ if eq .__component "site.block" }}
          {{ safeHTML .html }}
        {{ end }}
      {{ end }}
    </section>
  </article>

  {{ partial "shared/toc" . }}

</div>
