<!--
List page's menu
Params:
  - List Page
-->

{{/* Recommeded length in data/site.yaml */}}
{{ $defaultData := index $.Site.Data $.Site.Params.defaultLanguage }}
{{ $data := default $defaultData (index $.Site.Data $.Site.Language.Lang) }}
{{ $site := default $defaultData.site $data.site }}

{{/* Recommend pages */}}
{{ $pages := where .Pages "Params.recommended" true }}
{{ $pages = ($pages.ByParam "updatedAt").Reverse }}

{{/* Taxonomy name */}}
{{ $name := "tags" }}
{{ if eq .Section "career" }}
  {{ $name = "categories" }}
{{ end }}

{{/* Taxonomy name list */}}
{{ $taxonomies := slice }}
{{ range $k, $v := (index .Site.Taxonomies $name) }}
  {{ $taxonomies = $taxonomies | append (title $k) }}
{{ end }}


<!-- Search -->
{{ partial "shared/search-input" . }}


<!-- Recommended -->
<div class="recommended">
  <h3>
    <span class="dot">⦁</span>
    {{ i18n "recommendedPosts" }}
  </h3>

  {{ range first $site.recommended $pages }}
    <ul>
      <li>
        {{ if not (eq .Section "career") }}
          {{ partial "shared/author" . }}
        {{ end }}


        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    </ul>
  {{ end }}
</div>

<hr />

<!-- All taxonomies -->
<h3>{{ i18n "recommendedTopics" }}</h3>
{{ partial "shared/taxonomy-list" (dict "items" $taxonomies "name" $name) }}
