<!-- All contributor pages -->
{{ $contributors := where $.Site.RegularPages "Section" "contributor" }}


<div class="meta">
  {{ with .Params }}
    <!-- Author page / createdBy -->
    {{ $author := index (where $contributors "Params.user.username" .createdBy) 0 }}
    Created by
    <a href="{{ $author.Permalink }}">{{ $author.Params.user.firstname }}</a>
    <span class="timeago" datetime="{{ $.Params.createdAt }}"
      >{{ $.Params.createdAt }}</span
    >
    <br />
    <!-- Author page / updatedBy -->
    {{ $author := index (where $contributors "Params.user.username" .updatedBy) 0 }}
    Last updated by
    <a href="{{ $author.Permalink }}">{{ $author.Params.user.firstname }}</a>
    <span class="timeago" datetime="{{ $.Params.updatedAt }}"
      >{{ $.Params.updatedAt }}</span
    >
  {{ end }}
</div>
