{{ $defaultData := index $.Site.Data $.Site.Params.defaultLanguage }}
{{ $data := default $defaultData (index $.Site.Data $.Site.Language.Lang) }}
{{ $search := default $defaultData.search $data.search }}


<form id="searchForm" class="search-input" data-section="{{ .Section }}">
  {{ partial "shared/ionicons" "search-outline" }}
  <input type="text" placeholder="{{ i18n "search" }}" autocomplete="off" />
</form>

<!--
<a class="search-button" href="/search?section={{ .Section }}" target="_blank">
  {{ partial "shared/ionicons" "search-outline" }}
  <span>{{ i18n "search" }}</span>
</a>
-->

{{ .Page.Store.Set "hasFlexsearch" true }}
