// Theme
// Add extended color based on https://m3.material.io/theme-builder#/custom
// https://mui.com/material-ui/customization/palette/
$theme-extended-color: (
  md-custom-color-info: dodgerblue,
  md-custom-color-on-info: white,
  md-custom-color-info-container: #e3f2fd,
  md-custom-color-on-info-container: black,

  md-custom-color-success: green,
  md-custom-color-on-sucess: white,
  md-custom-color-success-container: #e8f5e9,
  md-custom-color-on-success-container: black,

  md-custom-color-warning: orange,
  md-custom-color-on-warning: white,
  md-custom-color-warning-container: #fff8e1,
  md-custom-color-on-warning-container: black,
);

// Spacing
$space: (
  space-xl: 32px,
  space-lg: 24px,
  space-md: 16px,
  space-sm: 8px,
  space-xs: 4px,
);

// Breakpoints
$breakpoint: (
  sm: 576px,
  // small devices (phones)
  md: 768px,
  // medium devices, portrail tables & large phones
  lg: 992px,
  // large, laptops/ desktops
  xl: 1200px,
  // extra large, laptops / desktops
  xxl: 1400px,
  // extra large
);
