.alert {
  display: flex;
  align-items: center;

  svg {
    padding: $space;
  }
}

.alert.success {
  background: var(--success-container);
  color: var(--on-success-container);

  svg {
    path {
      stroke: var(--success);
    }
  }
}

.alert.info {
  background: var(--info-container);
  color: var(--on-info-container);

  svg {
    path {
      stroke: var(--info);
    }
  }
}

.alert.warning {
  background: var(--warning-container);
  color: var(--on-warning-container);

  svg {
    path {
      stroke: var(--warning);
    }
  }
}

.alert.error {
  background: var(--error-container);
  color: var(--on-error-container);

  svg {
    path {
      stroke: var(--error);
    }
  }
}
