.alert {
  display: flex;
  align-items: center;

  svg {
    padding: var(--space-medium);
  }
}

.alert.success {
  background: var(--md-custom-color-success-container);
  color: var(--md-custom-color-on-success-container);

  svg {
    path {
      stroke: var(--md-custom-color-success);
    }
  }
}

.alert.info {
  background: var(--md-custom-color-info-container);
  color: var(--on-info-container);

  svg {
    path {
      stroke: var(--md-custom-color-info);
    }
  }
}

.alert.warning {
  background: var(--md-custom-color-warning-container);
  color: var(--md-custom-color-on-warning-container);

  svg {
    path {
      stroke: var(--md-custom-color-warning);
    }
  }
}

.alert.error {
  background: var(--md-sys-color-error-container);
  color: var(--on-error-container);

  svg {
    path {
      stroke: var(--md-sys-color-error);
    }
  }
}
