p > code {
  padding: 0.25rem;
  background: $surface-color;
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, Courier, monospace;
  font-size: 0.85rem;
}

pre {
  background: $primary-color !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, Courier, monospace !important;
  font-size: 1rem;
}
