.content {
  box-sizing: border-box;
  display: flex;
  width: calc(100% - #{$toc-width});
  padding: 0 32px;
  overflow-x: hidden; // avoid overlap toc on length line, URL for example

  // Phones: hide toc
  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 0 $space;
  }

  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  article {
    box-sizing: border-box;
    width: 100%;
  }
}
