// A list of pages
.content-list {
  article {
    padding-bottom: var(--space-large);
    margin-bottom: var(--space-medium);
    border-bottom: 1px solid var(--md-sys-color-surface-variant);

    .metadata {
      display: flex;
      align-items: center;
      align-content: center;
    }
  }
}
