.content {
  box-sizing: border-box;
  display: flex;
  width: calc(100% - #{$toc-width});
  padding: 0 32px;

  // Phones: hide toc
  @include media-breakpoint-up(md) {
    width: 100%;
    padding: 0 16px;
  }

  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  article {
    box-sizing: border-box;
    width: 100%;
  }
}
