details {
  summary {
    list-style: none;
    cursor: pointer;
  }

  summary::before {
    display: inline-block;
    content: 'â¯';
    margin-right: $space / 2;
  }
}

details[open] {
  summary::before {
    transform: rotate(90deg);
  }
}
