input {
  box-sizing: border-box;
  margin-bottom: $space;
  padding: $space;
  border: solid 1px $divider-color;

  &:focus {
    outline: solid 1px $primary-color;
    border-radius: 0;
  }
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}

input[type='button'],
input[type='submit'] {
  background: $primary-color;
  color: $background-color;
  font-weight: bold;
  border: none;
  padding: $space;
  width: 100%;
}
