input {
  box-sizing: border-box;
  padding: var(--space-small) var(--space-medium);
  border: solid 1px var(--md-sys-color-outline);

  &:focus {
    outline: solid 1px var(--md-sys-color-primary);
    border-radius: 0;
  }
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}

input::placeholder {
  @extend .body-medium;
}

input[type='button'],
input[type='submit'] {
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-background);
  font-weight: bold;
  border: none;
}
