// A list of pages
.page-list {
  padding: $space2;

  article {
    padding-bottom: $space;
    margin-bottom: $space2;
    border-bottom: 1px solid var(--md-sys-color-surface-variant);

    .metadata {
      display: flex;
      align-items: center;
      align-content: center;
    }
  }
}
