blockquote {
  margin-inline-start: 0;
  margin-inline-end: 0;

  border-color: $primary-light-color !important;
  border-left: 4px solid;
  border-radius: 3px;
  padding-top: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.25rem;
  background: $surface-color;
}
