.search-input {
  svg {
    position: absolute;
    font-size: 8px;
    width: $space;
    margin: $space / 2;
  }
  input {
    width: 100%;
    padding: $space / 2 $space / 2 $space / 2 $space2;
    border-radius: $space / 2;
    border: solid 1px $surface-color;
    background: $surface-color;
  }
}

.search-result {
  z-index: 1;
  position: fixed;
  right: 4px;
  padding: $space;
  background: $background-color;
  max-width: $width-sm / 2;

  border: solid 1px;
  border-radius: 4px;
  // box-shadow: 0 1px rgb(0 0 0 / 20%), 0 2px 3px rgb(0 0 0 / 10%);

  a {
    display: block;
    color: $text-color;
    margin-bottom: 8px;
  }
}
