.tag-list {
  .tag-item {
    margin-right: $space / 2;
    padding: 2px 8px;
    font-size: var(--body-s);
    color: $text-color-muted;
    border: 1px solid $text-color-muted;
    border-radius: $space;
    background: var(--surface);
  }
}
