.toc__content {
  position: fixed;
  font-size: $font-size-sx;
  border-left: solid 1px $divider-color;

  p {
    padding-left: 8px;
  }

  ul {
    list-style: none;
    padding-inline-start: 8px;

    li {
      font-weight: normal;
      padding-block-end: 4px;
      white-space: nowrap;
    }
  }

  a {
    color: $text-color-muted;
  }

  svg {
    width: $font-size-sm;
    height: $font-size-sm;
    // fill: $text-color-muted;
  }

  .active {
    color: $primary-color-light;
  }
}
