{{ $defaultData := index $.Site.Data $.Site.Params.defaultLanguage }}
{{ $data := default $defaultData (index $.Site.Data $.Site.Language.Lang) }}

{{ $site := default $defaultData.site $data.site }}

{{ $nav := default $defaultData.nav $data.nav }}
{{ $items := default $nav.default (index $nav .Section) }}


<nav class="nav">
  <div class="logo">
    <a id="navMenuButton" class="menu-btn" href="#">
      {{ partial "shared/ionicons" "menu-outline" }}
    </a>
    <a href="/">
      <img alt="{{ $nav.logo.name }}" src="{{ $site.logo.url }}" />
    </a>
    <a href="/"><strong>{{ $site.title }}</strong></a>
  </div>

  <!-- Menu for desktop -->
  <ul>
    {{ range $items }}
      <li><a href="{{ .url }}">{{ .name }}</a></li>
    {{ end }}
  </ul>

  <div id="toogleDarkModeBtn">
    <span data-theme="light">{{ partial "shared/ionicons" "sunny" }}</span>
    <span data-theme="dark" class="hide">
      {{ partial "shared/ionicons" "moon" }}
    </span>
  </div>
</nav>

<!-- Menu for mobile -->
<div class="nav">
  <div class="menu">
    <ul>
      {{ range $items }}
        <li><a href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
