.content-container {
  min-height: 80vh;
  box-sizing: border-box;
  margin-top: $nav-height;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: $width-md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.document {
  .content-container {
    @media (min-width: $width-md) {
      margin-left: $document-width-left;
    }

    @media (min-width: $width-lg) {
      width: $document-width-middle;
    }
  }
}

.blog {
  .content-container {
    @media (max-width: $width-md) {
      width: 100%;
    }

    @media (min-width: $width-md) {
      width: $blog-width-left;
    }
  }
}
