.document {
  display: flex;
  flex-direction: column;
  margin: auto;

  // @media (min-width: $width-sm) {
  //   max-width: 540px;
  // }

  // @media (min-width: $width-md) {
  //   max-width: 720px;
  // }

  // @media (min-width: $width-lg) {
  //   display: flex;
  //   max-width: 960px;
  // }

  // Includes menu, content, toc
  .container {
    display: flex;
    margin: 2rem;
  }

  .menu-container {
    flex: 3;
    // background: $surface-color;
    height: 100vh;

    @media (max-width: $width-md) {
      display: none;
    }
  }

  .content-container {
    @media (min-width: $width-md) {
      flex: 9;
    }
  }
}
