.footer {
  z-index: 1;
  box-sizing: border-box;
  position: relative; // to active z-index, front of document menu
  display: flex;
  flex-wrap: wrap;
  height: $footer-height;
  justify-content: space-between;
  align-items: center;
  padding: 0 $space2;
  background: var(--primary);
  color: var(--background);
  font-size: var(--body-s);

  @media print {
    display: none;
  }

  a {
    font-weight: bold;
    color: var(--background);
  }
}
