.nav {
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: $nav-height;
  padding: $space;
  background: $primary-color-dark;

  @media print {
    display: none;
  }

  a {
    color: $background-color;
  }

  svg {
    width: 16px;
    height: 16px;
    // fill: $background-color;
    stroke: black;
  }

  .logo {
    box-sizing: border-box;
    display: flex;
    // width: $document-menu-width;
    align-items: center;
    padding-right: 8px;
    border-right: solid $text-color-muted;
    border-width: 1px;

    @include media-breakpoint-down(md) {
      border: none;
      flex: 1;
    }

    img {
      height: 20px;
      padding-right: 8px;
    }
  }

  .menu-btn {
    display: none;
    padding-right: 16px;

    @include media-breakpoint-down(md) {
      display: block !important;
    }
  }

  .link {
    display: flex;
    flex: 1;
    padding-left: 32px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    li {
      padding-right: 16px;
    }
  }

  .link--vertical {
    display: none;
    position: absolute !important;
    left: 0px;
    top: $nav-height;
    width: 100%;
    background: $primary-color-dark;

    li {
      padding: $space / 2 0;
    }
  }

  // .search {
  //   padding-left: 16px;
  //   // border-width: 1px;

  //   svg {
  //     position: absolute;
  //     padding: 8px 16px;
  //     fill: $text-color-muted;
  //     padding-left: 8px;
  //   }

  //   input {
  //     height: 32px;
  //     padding-left: 32px;
  //     margin-bottom: 0;
  //     color: $text-color-muted;
  //   }

  //   span {
  //     @include media-breakpoint-down(md) {
  //       display: none;
  //     }
  //   }
  // }

  .link-menu {
    position: absolute;
    right: 32px;
  }
}
