.nav {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 $space;
  background: var(--md-sys-color-primary);

  @media print {
    display: none;
  }

  a {
    color: var(--md-sys-color-background);
  }

  // Links
  ul {
    display: flex;
    flex: 1;
    padding-left: $space2;

    @include media-breakpoint-down(md) {
      display: none;
    }

    li {
      padding-right: $space;
    }
  }

  .nav-menu {
    display: none;

    @include media-breakpoint-down(md) {
      width: 100%;
      background: var(--md-sys-color-primary);
    }

    ul {
      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    li {
      padding: $space / 2;
    }
  }

  .logo {
    box-sizing: border-box;
    display: flex;
    // width: $document-menu-width;
    align-items: center;
    padding-right: 8px;
    border-right: solid var(--md-ref-palette-tertiary50);
    border-width: 1px;

    @include media-breakpoint-down(md) {
      border: none;
      flex: 1;
    }

    img {
      height: 20px;
      padding-right: 8px;
    }
  }

  // Display a menu on mobile
  .menu-btn {
    display: none;
    padding-right: $space;

    @include media-breakpoint-down(md) {
      display: block !important;
    }

    // Override ionicons style
    .ionicon-stroke-width {
      stroke: var(--md-sys-color-background);
    }
  }

  // .search {
  //   padding-left: $space;
  //   // border-width: 1px;

  //   svg {
  //     position: absolute;
  //     padding: 8px $space;
  //     fill: var(--md-ref-palette-tertiary50);
  //     padding-left: 8px;
  //   }

  //   input {
  //     height: $space2;
  //     padding-left: $space2;
  //     margin-bottom: 0;
  //     color: var(--md-ref-palette-tertiary50);
  //   }

  //   span {
  //     @include media-breakpoint-down(md) {
  //       display: none;
  //     }
  //   }
  // }
}
