.nav {
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: $nav-height;
  padding: 16px;
  background: $primary-color-dark;

  a {
    color: $background-color;
  }

  svg {
    width: 16px;
    height: 16px;
    fill: $background-color;
  }

  .logo {
    box-sizing: border-box;
    display: flex;
    // width: $document-menu-width;
    align-items: center;
    padding-right: 8px;
    border-right: solid $text-color-muted;
    border-width: 1px;

    img {
      height: 20px;
      padding-right: 8px;
    }
  }

  .menu-btn {
    display: none;
    padding-right: 16px;
  }

  .link {
    display: flex;
    flex: 1;
    padding-left: 32px;

    li {
      padding-right: 16px;
    }
  }

  .search {
    padding-left: 16px;
    // border-width: 1px;

    svg {
      position: absolute;
      padding: 8px 16px;
      fill: $text-color-muted;
      padding-left: 8px;
    }

    input {
      min-width: 64px;
      height: 32px;
      padding-left: 32px;
      margin-bottom: 0;
      color: $text-color-muted;
    }
  }

  .link-menu {
    position: absolute;
    right: 32px;
  }
}

@media (max-width: $width-sm) {
  .nav {
    .logo {
      border: none;
      flex: 1;
    }

    .menu-btn {
      display: block;
    }

    .link {
      position: absolute;
      bottom: -8px;
      font-size: $font-size-sx;
    }

    .search {
      .span {
        display: none;
      }
    }
  }
}

@media print {
  .nav {
    display: none;
  }
}
