.toc-container {
  display: none;
  position: fixed;
  top: 8rem;
  right: 1rem;
  // padding-top: 3rem;

  // &::before {
  //   top: 2rem;
  //   left: 0.5rem;
  //   width: 1px;
  //   bottom: 0;
  //   content: '';
  //   position: absolute;
  //   background: $text-color-muted;
  // }

  @media (min-width: $width-lg) {
    display: block;
    width: $document-width-right;
  }
}
