.toc {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  width: 15%;
  height: 100vh;
  padding-left: $space2;
  font-size: var(--body-s);
  overflow: auto;

  @include media-breakpoint-down(md) {
    display: none;
  }

  p {
    padding-left: 8px;
  }

  ul {
    list-style: none;
    padding-inline-start: 8px;

    li {
      font-weight: normal;
      padding-block-end: 4px;
      white-space: nowrap;
    }
  }

  a {
    color: var(--on-background);
  }

  a.active {
    color: var(--primary) !important;
    font-weight: bold;
  }
}
