.author {
  display: flex;
  align-items: center;
  font-size: var(--md-sys-typescale-body-medium-font-size);

  a {
    display: flex;
    align-items: center;
    color: var(--md-sys-color-on-surface-variant);
  }

  img,
  .avatar {
    width: var(--space-xl);
    height: var(--space-xl);
    margin-right: var(--space-sm);
    background: var(--md-sys-color-primary-container);
    border-radius: 50%;
  }

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dot {
    color: var(--md-sys-color-on-surface-variant);
    padding: 0 var(--space-xs);
  }
}
