// Style the Image Used to Trigger the Modal
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  /* 100% Image Width on Smaller Screens */
  @include media-breakpoint-up(md) {
    width: 100%;
  }

  .open {
    animation: zoomIn 0.3s;
  }

  // Add Animation - Zoom in the Modal
  .close {
    animation: zoomOut 0.3s;
  }
}

//  Modal Content (Image)
#modalContent {
  background: var(--md-sys-color-background);
  margin: auto;
  max-width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modalCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.05);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
