// Override template "_internal/pagination.html"
.pagination {
  display: flex;

  li {
    margin-right: var(--space-sm);
    padding: var(--space-sm);
    border: 1px solid var(--md-sys-color-surface-variant);
  }

  a[aria-current='page'],
  a[aria-disabled='true'] {
    color: var(--md-sys-color-on-background);
  }
}
