.taxonomy-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);

  a {
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--space-md);
    background: var(--md-sys-color-secondary);
    font-size: var(--md-sys-typescale-body-medium-font-size);
    color: var(--md-sys-color-on-secondary);
  }

  a:hover {
    background: var(--md-sys-color-on-surface-variant);
    color: var(--md-sys-color-background);
  }
}
