.resume__bio {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;

  img {
    box-sizing: border-box;
    margin: auto;
    max-width: 128px;
    max-height: 128px;
  }

  p {
    box-sizing: border-box;
    width: $resume-left-width;
  }
}

@media (max-width: $width-sm) {
  .resume__bio {
    p {
      width: 100%;
    }
  }
}
