.resume__content {
  display: flex;
  flex-wrap: wrap;

  section {
    padding-bottom: 8px;
  }

  .resume__left {
    .experience-title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .resume__right {
    .item {
      ul {
        list-style: none;
        padding-inline-start: 0;
      }

      padding-bottom: 16px;
    }
  }
}
