.resume_profile {
  display: flex;
  flex-wrap: wrap;

  .resume__left {
    .job {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }

  .resume__right {
    ul {
      padding-inline-start: 0;
      font-size: 0.75rem;
    }

    ul > li {
      display: flex;
      align-items: center;

      svg {
        text-align: center;
        width: 12px;
        padding-right: 8px;
      }
    }
  }
}

@media (max-width: $width-sm) {
  .resume_profile {
    display: block;
  }
}
