.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  min-height: 100vh;
  line-height: 1.4;
  text-align: center;

  h1 {
    font-size: 8rem;
    margin: -3rem;
    color: $primary-color;
    z-index: 0;
  }

  p {
    text-align: center;
  }

  a {
    display: inline-block;
    background-color: $primary-color;
    color: $background-color;
    border-radius: 2rem;
    padding: 1rem 2rem;
    transition: 0.2s all;
  }
}
