.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $blog-jumbotron-height;
  background: var(--primary);

  h2 {
    position: absolute;
    color: var(--background);
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.article-list-page {
  box-sizing: border-box;

  .article-tag-list {
    width: $blog-menu-width;

    @include media-breakpoint-down(md) {
      width: 100%;
      padding: $space2;
    }
  }

  .article-list-page-container {
    display: flex;
  }

  .article-list {
    box-sizing: border-box;
    width: 100% - $blog-menu-width;
    padding: 0 $space2 $space $space2;

    @include media-breakpoint-down(md) {
      width: 100% !important;
    }
  }
}

// Single page
.article-page {
  padding-left: $space2;
  padding-right: $space2;
  padding-bottom: $space2;
}
