.career-list {
  padding: $space2;
}

.career-page {
  padding: $space2;
}

.job__applicant {
  box-sizing: border-box;
  display: flex;
  margin: auto;
  padding: $space2;

  .applicant {
    box-sizing: border-box;
    width: 50%;
  }

  .contact {
    box-sizing: border-box;
    width: 50%;
    margin-left: $space2;

    .item {
      display: flex;
      align-items: center;
    }
  }

  svg {
    padding-right: $space;
  }
}
