.career-page {
  padding-left: var(--space-large);
  padding-right: var(--space-large);
  padding-bottom: var(--space-large);

  // Override .toc
  .toc {
    width: 30%;
    padding-left: var(--space-large);
  }

  .applicant {
    box-sizing: border-box;
    display: flex;
    margin: auto;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    form {
      width: 50%;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      button {
        display: block;
        width: 100%;
        margin-bottom: var(--space-medium);
      }
    }

    svg {
      padding-right: var(--space-medium);
    }

    .contact {
      box-sizing: border-box;
      width: 50%;
      margin-left: var(--space-large);

      @include media-breakpoint-down(md) {
        width: 100%;
        margin-left: 0;
      }

      a {
        color: var(--md-sys-color-on-background);
      }

      .item {
        display: flex;
        align-items: center;
      }
    }
  }
}

// Override ql-editor
.ql-editor {
  padding: 8px !important;
  min-height: 256px;
  border: solid 1px var(--md-sys-color-outline);
  font-size: var(--md-sys-typescale-body-medium-font-size);
}
