.career-page {
  padding: var(--space-large);

  .content {
    padding-right: var(--space-large);
  }

  .applicant {
    box-sizing: border-box;
    display: flex;
    margin: auto;
    padding: var(--space-large);

    form {
      width: 50%;

      input {
        display: block;
        width: 100%;
        margin-bottom: var(--space-medium);
      }
    }

    svg {
      padding-right: var(--space-medium);
    }

    .contact {
      box-sizing: border-box;
      width: 50%;
      margin-left: var(--space-large);

      a {
        color: var(--md-sys-color-on-background);
      }

      .item {
        display: flex;
        align-items: center;
      }
    }
  }
}

// Override ql-editor
.ql-editor {
  padding: 8px !important;
  min-height: 256px;
  border: solid 1px var(--md-sys-color-outline);
  font-size: var(--md-sys-typescale-body-medium-font-size);
}
