.document__menu {
  z-index: 0;
  box-sizing: border-box;
  position: fixed;
  width: $document-menu-width;
  height: 100%;

  padding: 32px 16px $nav-height + $footer-height 32px;
  font-weight: 500;
  font-size: $font-size-sm;
  line-height: 32px;
  background: $background-color;
  border-right: solid 1px $divider-color;

  overflow-y: auto;

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 8px;
  }

  li {
    list-style: none;
  }

  .category {
    p {
      margin-block-end: 0;
      font-weight: 700;
      color: $text-color-muted;
      text-transform: uppercase;
    }

    .item {
      display: block;
    }
  }

  .sub-category {
    display: block;
    position: relative;

    // &::before {
    //   top: 32px;
    //   left: 8px;
    //   width: 1.2px;
    //   bottom: 0;
    //   content: '';
    //   position: absolute;
    //   background: $text-color-muted;
    // }

    .collapse {
      &::after {
        content: $colappsed-icon;
        position: absolute;
        right: 0;
      }

      &[aria-expanded='true'] {
        &::after {
          transform: rotate(90deg);
        }
      }
    }
  }

  a {
    color: $text-color;
  }

  .active {
    color: $primary-color-light !important;
  }
}

.document__content {
  box-sizing: border-box;
  margin-left: $document-menu-width;
}

// Mobiles: hide menu and toc
@media (max-width: $width-sm) {
  .document__menu {
    display: none;
    width: unset;
  }

  .document__content {
    width: 100%;
    margin: 0;
  }
}

// Tablets: hide toc
@include media-breakpoint-down(md) {
  .toc {
    display: none !important;
  }
}
