.document-list-page {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin: 0 $space2;

  @include media-breakpoint-down(md) {
    margin: 0;
  }
}

.document-page {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin: 0 $space2;

  @include media-breakpoint-down(md) {
    margin: 0;
  }

  // Override content
  .document-content {
    width: 70%;

    // Full with on mobile
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

// Left side menu
.document-menu {
  z-index: 0;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 25%;
  height: 100vh;

  padding: $space2 $space;
  margin-right: $space2;
  font-weight: 500;
  font-size: $font-size-sm;
  line-height: $space2;
  background: $background-color;
  border-right: solid 1px $divider-color;

  overflow: auto;

  // Hide menu on mobile
  @include media-breakpoint-down(sm) {
    display: none;
    width: unset;
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 8px;
  }

  li {
    list-style: none;
  }

  .category {
    p {
      margin-block-end: 0;
      font-weight: 700;
      color: $text-color-muted;
      text-transform: uppercase;
    }

    .item {
      display: block;
    }
  }

  .sub-category {
    display: block;
    position: relative;

    // &::before {
    //   top: $space2;
    //   left: 8px;
    //   width: 1.2px;
    //   bottom: 0;
    //   content: '';
    //   position: absolute;
    //   background: $text-color-muted;
    // }

    .collapse {
      &::after {
        content: '❯';
        position: absolute;
        right: 0;
      }

      &[aria-expanded='true'] {
        &::after {
          transform: rotate(90deg);
        }
      }
    }
  }

  a {
    color: $text-color;
  }

  .active {
    color: $primary-color-light !important;
  }
}
