.home {
  svg {
    width: $font-size-sm;
    height: $font-size-sm;
    fill: $background-color;
  }

  .hero {
    margin-top: -32px;
    background: $primary-color;
    color: $background-color;
  }
}
