.resume {
  margin-left: auto;
  margin-right: auto;

  padding: 2rem;

  border: 1px solid rgba(0, 0, 0, 0.025);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);

  @media (min-width: $width-sm) {
    max-width: 540px;
  }

  @media (min-width: $width-md) {
    max-width: 720px;
  }

  @media (min-width: $width-lg) {
    max-width: 960px;

    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .left {
    @media (min-width: $width-md) {
      flex: 8;
      padding-right: 1.5rem;
    }
  }

  .right {
    @media (min-width: $width-md) {
      flex: 4;
      padding-left: 1.5rem;
      border-left: 1px solid rgba(0, 0, 0, 0.08);
    }
  }

  h2,
  h3 {
    color: $primary-dark-color;
  }

  h2 {
    font-size: 2.75rem;
    font-weight: 900;
    letter-spacing: 0.4rem;

    margin-block: 0;
  }

  h3 {
    border-left: 0.4rem solid;
    padding-left: 0.5rem;

    font-size: 1.125rem;
    letter-spacing: 0.15rem;
  }
}

.footer {
  text-align: center;
}
