.resume {
  margin-left: auto;
  margin-right: auto;

  padding: 32px;

  border: 1px solid rgba(0, 0, 0, 0.025);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);

  @media (min-width: $width-sm) {
    max-width: 540px;
  }

  @media (min-width: $width-md) {
    max-width: 720px;
  }

  @media (min-width: $width-lg) {
    max-width: 960px;

    margin-top: 32px;
    margin-bottom: 32px;
  }

  .left {
    @media (min-width: $width-md) {
      flex: 8;
      padding-right: 24px;
    }
  }

  .right {
    @media (min-width: $width-md) {
      flex: 4;
      padding-left: 24px;
      border-left: 1px solid rgba(0, 0, 0, 0.08);
    }
  }

  h2,
  h3 {
    color: $primary-color-dark;
  }

  h2 {
    font-size: 2.75rem;
    font-weight: 900;

    margin-block: 0;
  }

  h3 {
    border-left: 8px solid;
    padding-left: 8px;

    font-size: 1.125rem;
  }
}

.footer {
  text-align: center;
}
