<section class="header">
  <div class="left">
    <h2>{{ .Params.title }}</h2>
    <div class="job">{{ .Params.position }}</div>
  </div>

  <div class="right">
    <ul>
      <li>
        {{ partial "svg/phone-square.svg" }}
        <a href="tel:{{ .Params.tel }}">{{ .Params.tel }}</a>
      </li>
      <li>
        {{ partial "svg/envelope.svg" }}
        <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
      </li>
      <li>
        {{ partial "svg/globe.svg" }}
        <a href="{{ .Params.webpage }}">{{ .Params.webpage }}</a>
      </li>
      <li>
        {{ partial "svg/map-marker-alt.svg" }}
        {{ .Params.address }}
      </li>
    </ul>
  </div>

</section>

<hr />
