{{ $social := .Params.social }}

<section class="social">
{{ with $social }}
  <hr />

  {{ with $social.github }}
    <a href="{{ . }}">
      {{ partial "svg/github-square.svg" }}
    </a>
  {{ end }}

  {{ with $social.gitlab }}
    <a href="{{ . }}">
      {{ partial "svg/gitlab.svg" }}
    </a>
  {{ end }}

  {{ with $social.linkedin }}
    <a href="{{ . }}">
      {{ partial "svg/linkedin.svg" }}
    </a>
  {{ end }}

  {{ with $social.twitter }}
    <a href="{{ . }}">
      {{ partial "svg/twitter-square.svg" }}
    </a>
  {{ end }}

  {{ with $social.facebook }}
    <a href="{{ . }}">
      {{ partial "svg/facebook-square.svg" }}
    </a>
  {{ end }}

  {{ with $social.instagram }}
    <a href="{{ . }}">
      {{ partial "svg/instagram-square.svg" }}
    </a>
  {{ end }}

{{ end }}

</section>
