{{ $social := .Params.social }}


<section class="resume__social">
  {{ with $social }}
    <hr />

    {{ with $social.github }}
      <a href="{{ . }}">
        {{ partial "shared/ionicons" "logo-github" }}
      </a>
    {{ end }}

    {{ with $social.gitlab }}
      <a href="{{ . }}">
        {{ partial "shared/ionicons" "logo-gitlab" }}
      </a>
    {{ end }}

    {{ with $social.linkedin }}
      <a href="{{ . }}">
        {{ partial "shared/ionicons" "logo-linkedin" }}
      </a>
    {{ end }}

    {{ with $social.twitter }}
      <a href="{{ . }}">
        {{ partial "shared/ionicons" "logo-twitter" }}
      </a>
    {{ end }}

    {{ with $social.facebook }}
      <a href="{{ . }}">
        {{ partial "shared/ionicons" "logo-facebook" }}
      </a>
    {{ end }}

    {{ with $social.instagram }}
      <a href="{{ . }}">
        {{ partial "shared/ionicons" "logo-instagram" }}
      </a>
    {{ end }}

  {{ end }}

</section>
