{{ $currentPage := .currentPage }}
{{ $pages := union .context.Sections .context.Pages }}

{{ range $pages.ByWeight }}
  {{ $hasChildren := or (.Sections) (.Pages) }}


  <!-- The data bs target doesn't like forward slashes, replace all with hyphens instead -->
  {{ if $hasChildren }}
    {{ $isOpen := in $currentPage.RelPermalink .RelPermalink }}


    <li>
      <details {{ if $isOpen }}open{{ end }}>
        <summary>{{ .Name -}}</summary>
        <ul>
          {{ partial "document/menu_recursive.html"  (dict "context" . "currentPage" $currentPage) }}
        </ul>
      </details>
    </li>
  {{ else }}
    <!-- Highlight the current page -->
    {{ $itemClass := "" }}
    {{ if eq $currentPage.RelPermalink .RelPermalink }}
      {{ $itemClass = "active" }}
    {{ end }}


    <li>
      <a class="{{ $itemClass }}" href="{{ .RelPermalink }}">{{- .Name -}}</a>
    </li>
  {{ end }}
{{ end }}
