<!-- Timeago -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous"></script>
<!-- Mermaid -->
<script src="https://unpkg.com/mermaid@8.8.0/dist/mermaid.min.js"></script>
<!-- PlantUML -->
<script src="https://cdn.jsdelivr.net/npm/plantuml-encoder@1.4.0/dist/plantuml-encoder.js"></script>

<!-- Assets -->
{{ $documentMenu := resources.Get "js/document-menu.js" }}
{{ $toc := resources.Get "js/toc.js" }}
{{ $modal := resources.Get "js/modal.js" }}
{{ $timeago := resources.Get "js/timeago.js" }}
{{ $mermaid := resources.Get "js/mermaid.js" }}
{{ $plantuml := resources.Get "js/plantuml.js" }}

{{ $js := slice $documentMenu $toc $modal $timeago $mermaid $plantuml | resources.Concat "main.js" }}
<script src="{{ $js.Permalink }}"></script>
