<small>
  {{ $createdby := .Params.createdby }}
  {{ $updatedby := .Params.updatedby }}
  {{ $hasChange := ne .Params.date .Params.lastmod }}

  {{ if $createdby }}
    {{ $firstname := $createdby.firstname }}
    {{ $lastname := default "" $createdby.lastname }}
    {{ $path := printf "/%s/%s-%s" "contributor" $firstname $lastname }}
    Created by <a href="{{ urlize $path }}">{{ $createdby.firstname }}</a>
    <span class="timeago" datetime="{{ .Date }}">{{ .Date }}</span>
  {{ end }}

  {{ if and $hasChange $updatedby }}
    &nbsp;&hyphen;&nbsp;

    {{ $firstname := $updatedby.firstname }}
    {{ $lastname := default "" $updatedby.lastname }}
    {{ $path := printf "/%s/%s-%s" "contributor" $firstname $lastname }}
    Updated by <a href="{{ urlize $path }}">{{ $createdby.firstname }}</a>
    <span class="timeago" datetime="{{ .Date }}">{{ .Date }}</span>
  {{ end }}

  <span class="text-color-muted">
    &nbsp;&hyphen;&nbsp;{{ .ReadingTime -}}&nbsp;min read
  </span>
</small>
