<div class="meta">
  {{ $authors := .Params.authors }}
  {{ if isset .Params "authors"  }}
    {{ if gt (len $authors) 0 }}
      {{ $createdBy := index $authors 0 }}
      {{ $name := $createdBy.name }}
      {{ $id := $createdBy.userID }}
      {{ $path := printf "/%s/%s-%s" "contributor" $name $id }}

      Created by <a href="{{ urlize $path }}">{{ $name }}</a>
      <span class="timeago" datetime="{{ .Date }}">{{ .Date }}</span>
    {{ end }}

    {{ if gt (len $authors) 1 }}
      {{ $updatedBy := index $authors 1 }}
      {{ $name := $updatedBy.name }}
      {{ $id := $updatedBy.userID }}
      {{ $path := printf "/%s/%s-%s" "contributor" $name $id }}

      <br />
      Last updated by <a href="{{ urlize $path }}">{{ $name }}</a>
      <span class="timeago" datetime="{{ .Lastmod }}">{{ .Lastmod }}</span>
    {{ end }}
  {{ end }}
</div>
