<div class="meta">
  {{ with .Params.createdBy }}
    {{ $path := printf "/%s/%s" "contributors" . }}
    Created by
    <a href="{{ urlize $path }}">{{ index (split . "-") 0 }}</a>
    <span class="timeago" datetime="{{ $.Params.createdAt }}"
      >{{ $.Params.createdAt }}</span
    >
  {{ end }}

  {{ with .Params.updatedBy }}
    <br />
    {{ $path := printf "/%s/%s" "contributors" . }}
    Last updated by
    <a href="{{ urlize $path }}">{{ index (split . "-") 0 }}</a>
    <span class="timeago" datetime="{{ $.Params.updatedAt }}"
      >{{ $.Params.updatedAt }}</span
    >
  {{ end }}
</div>
