{{ $defaultData := index $.Site.Data $.Site.Params.defaultLanguage }}
{{ $data := index $.Site.Data $.Site.Language.Lang }}

{{ $nav := default $defaultData.nav $data.nav }}
{{ $links := $nav.links }}


<nav class="nav">
  <div class="logo">
    <a id="navMenuButton" class="menu-btn" href="#">
      {{ partial "shared/ionicons" "menu-outline" }}
    </a>
    <img alt="{{ $nav.logo.name }}" src="{{ $nav.logo.url }}" />
    <a href="/"><strong>{{ $nav.title }}</strong></a>
  </div>

  <!-- Menu for desktop -->
  <ul>
    {{ range $links }}
      <li><a href="{{ .url }}">{{ .name }}</a></li>
    {{ end }}
  </ul>
</nav>

<!-- Menu for mobile -->
<div class="nav">
  <div class=" nav-menu">
    <ul>
      {{ range $links }}
        <li><a href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
