{{ define "main" }}
  {{ $defaultData := index $.Site.Data $.Site.Params.defaultLanguage }}
  {{ $data := default $defaultData (index $.Site.Data $.Site.Language.Lang) }}
  {{ $address := default $defaultData.address $data.address }}
  {{ $webhook := default $defaultData.webhook $data.webhook }}


  <div class="career-page">
    {{ if .Site.Params.options.breadcrumb }}
      {{ partial "shared/breadcrumb" . }}
      <hr />
    {{ end }}


    <div class="flex">
      {{ partial "shared/content" . }}
      {{ partial "shared/toc" . }}
    </div>

    <hr />

    <div class="applicant">
      <form id="applyJobForm">
        <h2>{{ i18n "applyThisJob" }}</h2>
        <input type="text" name="title" placeholder="Your name" />
        <input type="tel" name="phone" placeholder="Your phone number" />
        <input type="email" name="email" placeholder="Your email" />
        <div id="editor" name="content"></div>
        {{/* <input type="file" name="cv" accept="application/pdf, application/zip"> */}}


        <button
          id="applyJobButton"
          {{/* class="btn-outline" */}}
          type="submit"
          data-method="POST"
          data-url="{{ $webhook.applyJob }}"
        >
          {{ i18n "apply" }}
        </button>

        {{ partial "shared/alert" (dict "type" "success" "class" "hide") }}
        {{ partial "shared/alert" (dict "type" "error" "class" "hide") }}

      </form>

      <div class="contact">
        <h2>{{ i18n "contactUs" }}</h2>

        {{ with $address }}
          <div class="item">
            {{ partial "shared/ionicons" "location-outline" }}
            <a
              target="_blank"
              href="https://www.google.com/maps/search/{{ .office }}"
            >
              {{ .office }}
            </a>
          </div>
          <div class="item">
            {{ partial "shared/ionicons" "call-outline" }}
            <a href="tel:{{ .tel }}">{{ .phone }}</a>
          </div>
          <div class="item">
            {{ partial "shared/ionicons" "mail-outline" }}
            <a href="mailto:{{ .email }}">{{ .email }}</a>
          </div>
        {{ end }}
      </div>
    </div>

    <!-- Use Quill for the editor: https://quilljs.com/ -->
    {{ .Page.Store.Set "hasQuill" true }}
  </div>
{{ end }}
