<!--
Displays authors of a single page
Params: Single page
-->

<!-- All contributor pages -->
{{ $contributors := where $.Site.RegularPages "Section" "contributor" }}


<!-- Author pages / createdBy -->
{{ $createdBy := index (where $contributors "Params.user.username" .Params.createdBy) 0 }}
{{ $updatedBy := index (where $contributors "Params.user.username" .Params.updatedBy) 0 }}
{{ $updatedBy = default $createdBy $updatedBy }}

{{ $avatar := $updatedBy.Params.avatar.url }}
{{ $firstname := $updatedBy.Params.user.firstname }}


<div class="author">
  <a href="{{ $updatedBy.RelPermalink }}">
    {{ if $avatar }}
      <img src="{{ $avatar }}" />
    {{ else }}
      <div class="avatar">
        <h5>{{ title (substr $firstname 0 1) }}</h5>
      </div>
    {{ end }}
    {{ $firstname }}
  </a>
  <span class="dot">∙</span>
  {{ partial "shared/timeago" (default .Params.updatedAt .Params.createdAt) }}
</div>
