{{ define "main" }}
  <div class="home">
    <section class="hero">
      <h1>Boost Personal Productivity</h1>
      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>

      <a>Start A Project</a>

      {{ partial "svg/map-marker-alt.svg" }}
      {{ partial "svg/map-marker-alt.svg" }}
      {{ partial "svg/map-marker-alt.svg" }}
      {{ partial "svg/map-marker-alt.svg" }}
    </section>
  </div>

  <section>
    <h3>OUR SERVICES</h3>
    <h2>We Provide A Lot of Cool Services</h2>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    <a>Our Services</a>

    <div>Marketing</div>
    <div>SEO</div>
  </section>

  <section>
    <h3>ABOUT US</h3>
    <h2>Unbrew A Digital Agency Company</h2>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
  </section>
{{ end }}
