{{ $profile := .Params.profile }}
{{ $contact := .Params.contact }}


<section class="resume-container">
  <div class="resume-left">
    {{ partial "resume/content/experiences" . }}
    {{ partial "resume/content/projects" . }}
  </div>

  <div class="resume-right">
    {{ partial "resume/content/skills" . }}
    {{ partial "resume/content/educations" . }}
    {{ partial "resume/content/awards" . }}
    {{ partial "resume/content/languages" . }}
    {{ partial "resume/content/interests" . }}
  </div>
</section>
