<section class="profile">
  <div class="resume-left">
    <h2>{{ .Params.title }}</h2>
    <div class="job">{{ .Params.position }}</div>
  </div>

  <div class="resume-right">
    <ul>
      <li>
        {{ partial "shared/ionicons" "call-outline" }}
        <a href="tel:{{ .Params.phone }}">{{ .Params.phone }}</a>
      </li>
      <li>
        {{ partial "shared/ionicons" "mail-outline" }}
        <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
      </li>
      <li>
        {{ partial "shared/ionicons" "earth-outline" }}
        <a href="{{ .Params.webpage }}">{{ .Params.webpage }}</a>
      </li>
      <li>
        {{ partial "shared/ionicons" "location-outline" }}
        {{ .Params.address }}
      </li>
    </ul>
  </div>
</section>

<hr />
