{{ define "main" }}
  {{ $defaultData := index $.Site.Data $.Site.Params.defaultLanguage }}
  {{ $data := default $defaultData (index $.Site.Data $.Site.Language.Lang) }}
  {{ $section := default $defaultData.section $data.section }}

  {{ $tabs := slice }}
  {{ range $k, $v := $section }}
    {{ if $v.searchEnabled }}
      {{ $tab := dict "id" $k  "title" (title $k) }}
      {{ $tabs = $tabs | append $tab }}
    {{ end }}
  {{ end }}


  <div class="search-page">
    <div class="content-container">
      <!--  <h1>{{ i18n "recentSearches" }}</h1>  -->
      <h1>{{ safeHTML (i18n "resultsFor" "") }}</h1>
      {{ partial "shared/tabs" (dict "index" 0 "items" $tabs) }}


      <!-- <p>About 25,270,000,000 results (0.46 seconds)</p> -->
      <!-- <p>Khoảng 25.270.000.000 kết quả (0,32 giây)</p> -->

      {{/* Tabs content */}}
      {{ range $i, $v := $tabs }}
        {{ $class := "hide" }}
        {{ if (eq $i 0) }}
          {{ $class = "" }}
        {{ end }}
        <div id="tab{{ title $v.id }}" class="tab-content {{ $class }}">
          {{ partial "search/content-list" }}
        </div>
      {{ end }}

      {{/* Not found */}}
      <div class="not-found hide">
        {{ safeHTML (i18n "resultsNotFound") }}
      </div>
    </div>

    <div class="menu-container">
      {{ partial "shared/search-input" . }}

      {{/* Append taxonomy of results */}}
      <h4>{{ i18n "resultTopics" }}</h4>
      <div class="taxonomy-list"></div>
    </div>
  </div>
{{ end }}
